{{ " " }}
<div class="card" data-style="{{ include.style }}" style="width: 100%; ">

  <div class="card-text">
    {% if include.title %}
      <a
        {% if include.link %}
          href="{{ include.link | relative_url }}
        {% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
      </a>
    {% endif %}

    {% if include.subtitle %}
      <span class="card-subtitle">{{ include.subtitle }}</span>
    {% endif %}
  </div>

  <div class="card-img" style="aspect-ratio: 5.0; overflow: hidden; margin-bottom: 0px;">
    <a
      {% if include.link %}
        href="{{ include.link | relative_url }}"
      {% endif %}
      aria-label="{{ include.title | default: "card link" }}"
      class="card-image"
    >
      <img
        src="{{ include.image | relative_url }}"
        alt="{{ include.title | default: "card image" }}"
        loading="lazy"
        style="width: 100%; height: auto; object-fit: contain;"
        {% include fallback.html %}
      >
    </a>
  </div>
  
  <div class="card-description" style="margin: 0px;">
    {% if include.description %}
      <p>
        {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}
  
    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>