{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filters
%}

{% assign sorted_data = data | sort: "order" %}

{% for d in sorted_data %}
  {% assign style = d.style | default: include.style %}

  {%
    include {{ include.component | append: ".html" }}
    display_1=d.display_1
    display_2=d.display_2
    display_3=d.display_3
    affiliation=d.affiliation
    author=d.author
    authors=d.authors
    buttons=d.buttons
    caption=d.caption
    content=d.content
    date=d.date
    description=d.description
    excerpt=d.excerpt
    height=d.height
    icon=d.icon
    id=d.id
    image=d.image
    last_modified_at=d.last_modified_at
    link=d.link
    lookup=d.lookup
    name=d.name
    publisher=d.publisher
    repo=d.repo
    role=d.role
    slug=d.slug
    style=style
    subtitle=d.subtitle
    tags=d.tags
    text=d.text
    title=d.title
    tooltip=d.tooltip
    type=d.type
    url=d.url
    width=d.width
  %}
{% endfor %}